{% extends "layout.html" %}
<!--INDIVIDUAL PAGE LAYOUT-->
{% block content %}
  <h3>{{title}}<small> (<a href="{{urlTitle}}/similar">Similar</a>)</small></h3>
  <h4>by <a href="PLACEHOLDER-AUTHOR-URL">PLACEHOLDER AUTHOR NAME</a></h4>
    <ul class="list-unstyled">
    <!--Display a list of tags on each individual page-->
  {% for tag in tags %}
  	<li>{{ tag }}</li>
  {% endfor %}
  </ul>
  <hr/>
  <div>PLACEHOLDER AUTHOR NAME WITH LINK TO AUTHOR PAGE</div>
  <div class="page-body">{{content}}</div>
  <hr/>
  <a href="PLACEHOLDER_URL_TITLE/edit" class="btn btn-primary">edit this page</a>
  <a href="PLACEHOLDER_URL_TITLE/delete" class="btn btn-danger">delete this page</a>
{% endblock %}